@model BCoreMvc.Models.ViewModels.Blog.PostViewModel

@{
    ViewBag.Title = "Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using BCore.Models.Extensions

@*<div class="row">
    <div class="hidden-xs col-sm-2 col-md-3"></div>

    <div class="col-xs-12 col-sm-8 col-md-6">            
        <button class="btn btn-default btn-sm" onclick="history.go(-1)">
            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> return
        </button>
    </div>

    <div class="hidden-xs col-sm-2 col-md-3"></div>
</div>*@

<div class="row">
    <div class="hidden-xs col-sm-2 col-md-3"></div>

    <div class="col-xs-12 col-sm-8 col-md-6">
        <div class="margin-top margin-bottom">
            @await Html.PartialAsync("_Post", Model)
        </div>
    </div>

    <div class="hidden-xs col-sm-2 col-md-3"></div>
</div>

<div class="row">
    <div class="hidden-xs col-sm-2 col-md-3"></div>

    <div class="col-xs-12 col-sm-8 col-md-6">
        <span id="commentAnchor" class="anchor"></span>

        @if (SignInManager.IsSignedIn(User) && Model.Comment != null)
        {
            <div class="margin-top">
                @await Html.PartialAsync("_WhatsThink", Model)
            </div>
        }
    </div>

    <div class="hidden-xs col-sm-2 col-md-3"></div>
</div>

<div class="row">
    <div class="hidden-xs col-sm-2 col-md-3"></div>

    <div class="col-xs-12 col-sm-8 col-md-6">        
        @await Html.PartialAsync("_Comments", Model.Comments, nameof(Model))        
    </div>

    <div class="hidden-xs col-sm-2 col-md-3"></div>
</div>

@if (SignInManager.IsSignedIn(User))
{
    @section Scripts {
        <script type="text/javascript">
            $(document).ready(function() {
                new Post.Comment();
            });
        </script>
    }
}



