<?xml version="1.0"?>

<!-- For the Custom Events demo we enable server side events -->
<!-- For the Tracing demo you need to enable tracing here and in Web.config -->
<backload storageContext="Database" filesUrlPattern="{backload}" thumbsUrlPattern="{base64}"   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="Config\Web.Backload.xsd">

  <!-- Example 01: Simple database storage with EF in custom code (see ~/Model folder) -->
  <database tableName="Files" storageMode="Internal" />

  <!-- Image processing in .NET Core is in beta state. It must be enabled here explicitly -->
  <thumbnails resizeMode="fit" width="80" height="60" />
  
</backload>
    