<!-- Modal -->
<div class="modal fade" id="codeModalForm" tabindex="-1" role="dialog" aria-labelledby="modalLabelUpload">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header well" id="codeProgressUpload">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="codeModalLabelUpload"><i class="glyphicon glyphicon-list-alt"></i> code upload</h4>
            </div>

            <div class="modal-body">                                                
                <div id="codeText"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                <button id="codeButtonUpload" type="submit" class="btn btn-primary">upload</button>
            </div>
        </div>
    </div>
</div>
