@model BCoreMvc.Models.ViewModels.Blog.UpdateViewModel

@using BCoreMvc.Models.Extensions

@{
    ViewBag.Title = "WhatsNew";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="hidden-xs col-sm-2 col-md-3"></div>

    <div class="col-xs-12 col-sm-8 col-md-6">    
        @await Html.PartialAsync("_WhatsNew", Model.WhatsNew, nameof(Model.WhatsNew))
    </div>

    <div class="hidden-xs col-sm-2 col-md-3"></div>
</div>

<div class="row">
    <div class="hidden-xs col-sm-2 col-md-3"></div>

    <div class="col-xs-12 col-sm-8 col-md-6">    
        @await Html.PartialAsync("_RecentPosts", Model.RecentPosts, nameof(Model.RecentPosts))
    </div>

    <div class="hidden-xs col-sm-2 col-md-3"></div>
</div>

@if (!Model.Pager.IsLastPage())
{
    <div class="row">
        <div class="hidden-xs col-sm-2 col-md-3"></div>

        <div class="col-xs-12 col-sm-8 col-md-6">
            <div class="pageContainer">
            </div>
            <button class="btn btn-default center-block pageButtonDone">done</button>
            <input asp-for="Pager.Page" value="@Model.Pager.Page" type="hidden" />
        </div>

        <div class="hidden-xs col-sm-2 col-md-3"></div>
    </div>
}

@await Html.PartialAsync("_Image")

@await Html.PartialAsync("_Code")

@if (SignInManager.IsSignedIn(User))
{
    @section Scripts {
        <script type="text/javascript">
            $(document).ready(function () {
                new Blog.WhatsNew("@UserManager.GetUserId(User)");

                new Common.Pager('/Update/Page'
                    , '@Model.Pager.Page'
                    , $('.pageContainer')
                    , $('.pageButtonDone'));
            });
        </script>
    }
}